/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove underline on A elements */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  color: #959595;
}

.span-margin {
  margin-right: 20px;
}

@media screen and (max-width: 400px) {
  .span-margin {
    margin-right: 10px;
  }
}

.title {
  position: absolute;
  left: 180px;
  top: 27%;
}

@media screen and (max-width: 1560px) {
  .title {
    left: 160px;
  }
}

@media screen and (max-width: 1400px) {
  .title {
    top: 32%;
  }
}

@media screen and (max-width: 1200px) {
  .title {
    left: 120px;
  }
}

@media screen and (max-width: 600px) {
  .title {
    padding-left: 3rem;
    left: 0;
  }
}

@media screen and (max-width: 400px) {
  .title {
    left: 0;
    padding-left: 1.5rem;
    top: 35%;
  }
}

.title span {
  color: white;
  font-size: 5.5rem;
}

@media screen and (max-width: 1700px) {
  .title span {
    font-size: 5rem;
  }
}

@media screen and (max-width: 1560px) {
  .title span {
    font-size: 4rem;
  }
}

@media screen and (max-width: 1400px) {
  .title span {
    font-size: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .title span {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 400px) {
  .title span {
    font-size: 1.8rem;
  }
}

.title span:hover {
  color: #f71cde;
}

.title__txt p {
  color: #959595;
  font-size: 2rem;
}

@media screen and (max-width: 1400px) {
  .title__txt p {
    font-size: 2rem;
  }
}

.title__btn {
  border: 2px solid #959595;
  background: none;
  padding: 1rem 2rem;
  color: #f71cde;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 3rem;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 5px 5px #959595;
}

.title__btn:hover {
  background: #f71cde;
  color: #959595;
  font-weight: bold;
  box-shadow: none;
  border: none;
}

@media screen and (max-width: 1200px) {
  .title__btn {
    padding: 0.8rem 1rem;
    font-size: 1rem;
  }
}

.coding img {
  width: 37rem;
  height: 37rem;
  position: absolute;
  right: 200px;
  top: 15%;
}

@media screen and (max-width: 1700px) {
  .coding img {
    width: 35rem;
    height: 35rem;
    right: 150px;
  }
}

@media screen and (max-width: 1560px) {
  .coding img {
    width: 30rem;
    height: 30rem;
    right: 130px;
    top: 20%;
  }
}

@media screen and (max-width: 1400px) {
  .coding img {
    width: 27rem;
    height: 27rem;
    top: 25%;
  }
}

@media screen and (max-width: 1200px) {
  .coding img {
    width: 23rem;
    height: 23rem;
    right: 100px;
    top: 28%;
  }
}

@media screen and (max-width: 1024px) {
  .coding img {
    display: none;
  }
}

.about {
  width: 100%;
}

.about__txt {
  position: absolute;
  left: 150px;
  top: 28%;
}

@media screen and (max-width: 1200px) {
  .about__txt {
    top: 25%;
  }
}

@media screen and (max-width: 1024px) {
  .about__txt {
    left: 100px;
  }
}

@media screen and (max-width: 600px) {
  .about__txt {
    left: 80px;
    top: 20%;
  }
}

@media screen and (max-width: 400px) {
  .about__txt {
    left: 50px;
  }
}

.about__txt h1 {
  color: #f71cde;
  font-size: 6rem;
}

@media screen and (max-width: 1200px) {
  .about__txt h1 {
    font-size: 5rem;
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 1024px) {
  .about__txt h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .about__txt h1 {
    font-size: 3rem;
  }
}

.about__txt p {
  font-size: 1.7rem;
  width: 55%;
  margin-top: 1.6rem;
  color: #959595;
}

@media screen and (max-width: 1200px) {
  .about__txt p {
    width: 70%;
    margin-top: 1.8rem;
  }
}

@media screen and (max-width: 1024px) {
  .about__txt p {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .about__txt p {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .about__txt p {
    font-size: 1.3rem;
  }
}

.about__img {
  width: 100vw;
  height: 100vh;
  background: url("/images/Alone-pana1.png") no-repeat center;
  background-size: cover;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 80%;
  margin-left: 150px;
}

@media screen and (max-width: 1400px) {
  .skills {
    margin-left: 120px;
  }
}

@media screen and (max-width: 1200px) {
  .skills {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 1024px) {
  .skills {
    margin-left: 80px;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .skills {
    margin-left: 50px;
  }
}

@media screen and (max-width: 600px) {
  .skills {
    margin-left: 35px;
  }
}

.skills__txt {
  width: 65%;
}

@media screen and (max-width: 1200px) {
  .skills__txt {
    width: 85%;
    padding-top: 10rem;
  }
}

@media screen and (max-width: 1024px) {
  .skills__txt {
    width: 90%;
    padding-top: 7rem;
  }
}

@media screen and (max-width: 600px) {
  .skills__txt {
    padding-top: 20rem;
  }
}

.skills__txt h1 {
  color: #f71cde;
  font-size: 6rem;
}

@media screen and (max-width: 1400px) {
  .skills__txt h1 {
    font-size: 5rem;
  }
}

@media screen and (max-width: 1024px) {
  .skills__txt h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .skills__txt h1 {
    font-size: 3rem;
  }
}

.skills__txt p {
  font-size: 1.7rem;
  width: 100%;
  margin-top: 2rem;
  color: #959595;
}

@media screen and (max-width: 1400px) {
  .skills__txt p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .skills__txt p {
    font-size: 1.3rem;
  }
}

.skills__txt a {
  color: #f71cde;
  text-decoration: underline;
}

.skills__slide {
  width: 25%;
  color: #f71cde;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  border: 0.7px solid #959595;
  box-shadow: 0 0 5px 5px #959595;
}

@media screen and (max-width: 1200px) {
  .skills__slide {
    width: 35%;
  }
}

@media screen and (max-width: 1024px) {
  .skills__slide {
    width: 22rem;
    margin-top: 5rem;
  }
}

@media screen and (max-width: 600px) {
  .skills__slide {
    font-size: 2rem;
    width: 18rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .skills__slide {
    font-size: 1.3rem;
    width: 14rem;
    margin-top: 2rem;
  }
}

.project-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 100%;
}

.project-wrapper h1 {
  font-size: 6rem;
  margin: 100px 0;
}

.project-wrapper .project {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  border: 1px solid #959595;
  box-shadow: 0 0 5px 5px #959595;
  background-color: #181818;
  margin-bottom: 200px;
  height: 500px;
}

@media screen and (max-width: 1700px) {
  .project-wrapper .project {
    height: 450px;
  }
}

@media screen and (max-width: 1400px) {
  .project-wrapper .project {
    height: 400px;
  }
}

@media screen and (max-width: 1200px) {
  .project-wrapper .project {
    height: 350px;
  }
}

@media screen and (max-width: 1024px) {
  .project-wrapper .project {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 600px;
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .project-wrapper .project {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .project-wrapper .project {
    width: 95%;
  }
}

.project-wrapper .project__image {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #1d1d1d;
  padding: 40px;
}

@media screen and (max-width: 1024px) {
  .project-wrapper .project__image {
    height: 35%;
    padding: 15px;
  }
}

.project-wrapper .project__image img {
  cursor: pointer;
  width: 80%;
  height: 80%;
  border-radius: 20px;
}

@media screen and (max-width: 1400px) {
  .project-wrapper .project__image img {
    width: 90%;
    height: 70%;
  }
}

@media screen and (max-width: 1024px) {
  .project-wrapper .project__image img {
    height: 90%;
    width: 70%;
  }
}

.project-wrapper .project__image .resize {
  scale: 1.3;
  transition: ease 1.4s;
}

@media screen and (max-width: 1024px) {
  .project-wrapper .project__image .resize {
    scale: 1.1;
  }
}

.project-wrapper .project__description {
  padding: 0 30px;
  flex: 0 0 60%;
}

@media screen and (max-width: 800px) {
  .project-wrapper .project__description {
    padding: 0 15px;
  }
}

.project-wrapper .project__description--title {
  font-size: 3rem;
  text-transform: capitalize;
  padding-top: 40px;
}

@media screen and (max-width: 1700px) {
  .project-wrapper .project__description--title {
    padding-top: 25px;
  }
}

@media screen and (max-width: 1400px) {
  .project-wrapper .project__description--title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .project-wrapper .project__description--title {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 1024px) {
  .project-wrapper .project__description--title {
    padding-top: 15px;
  }
}

@media screen and (max-width: 800px) {
  .project-wrapper .project__description--title {
    font-size: 2rem;
  }
}

.project-wrapper .project__description P {
  font-size: 1.5rem;
  padding: 30px 0;
}

@media screen and (max-width: 1700px) {
  .project-wrapper .project__description P {
    padding: 15px 0;
  }
}

@media screen and (max-width: 1400px) {
  .project-wrapper .project__description P {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1200px) {
  .project-wrapper .project__description P {
    font-size: 1.15rem;
    padding: 10px 0;
  }
}

.project-wrapper .project__description--tools {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.project-wrapper .project__description--tools li {
  margin: 20px 20px 20px 0;
  padding: 10px 20px;
  background-color: none;
  color: #f71cde;
  border: 2px solid #f71cde;
  border-radius: 40px;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 1700px) {
  .project-wrapper .project__description--tools li {
    padding: 8px 20px;
  }
}

@media screen and (max-width: 1400px) {
  .project-wrapper .project__description--tools li {
    margin: 15px 15px 15px 0;
  }
}

@media screen and (max-width: 1200px) {
  .project-wrapper .project__description--tools li {
    margin: 10px 10px 10px 0;
    padding: 5px 15px;
    font-size: 1rem;
    border: 2px solid #f71cde;
  }
}

@media screen and (max-width: 800px) {
  .project-wrapper .project__description--tools li {
    padding: 5px 10px;
  }
}

.project-wrapper .project__description--btn {
  margin-bottom: 20px;
  padding: 20px 0;
}

.project-wrapper .project__description--btn a {
  cursor: pointer;
  border: 2px solid #f71cde;
  padding: 15px 20px;
  color: #959595;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: bold;
  margin-right: 15px;
}

.project-wrapper .project__description--btn a:hover {
  background-color: transparent;
  transition: ease-out 0.5s;
  box-shadow: 0 0 5px 5px #f71cde;
}

@media screen and (max-width: 1200px) {
  .project-wrapper .project__description--btn a:hover {
    box-shadow: 0 0 3px 3px #f71cde;
  }
}

@media screen and (max-width: 1400px) {
  .project-wrapper .project__description--btn a {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 1200px) {
  .project-wrapper .project__description--btn a {
    padding: 10px 15px;
    font-size: 1rem;
    border: 2px solid #f71cde;
  }
}

.project-wrapper .project__description--btn a:first-of-type {
  color: #f71cde;
  border: 2px solid #959595;
}

.project-wrapper .project__description--btn a:first-of-type:hover {
  background-color: transparent;
  box-shadow: 0 0 5px 5px #959595;
}

@media screen and (max-width: 1200px) {
  .project-wrapper .project__description--btn a:first-of-type:hover {
    box-shadow: 0 0 3px 3px #959595;
  }
}

.show {
  transition: all 0.9s linear;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 50%;
}

.container .error-mess {
  margin: 5rem;
  color: #959595;
  text-align: center;
}

.container .error-mess h2 {
  font-size: 4rem;
  padding-bottom: 2rem;
}

.container .error-mess p {
  font-size: 2rem;
}

.container .error-mess span {
  color: #f71cde;
}

@media screen and (max-width: 1400px) {
  .container {
    width: 60%;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 70%;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 65%;
    margin-left: 5rem;
  }
}

@media screen and (max-width: 800px) {
  .container {
    margin-left: 0;
    width: 100%;
  }
}

.container .contact-form {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 3.5rem;
}

@media screen and (max-width: 600px) {
  .container .contact-form__personal {
    display: flex;
    flex-direction: column;
  }
}

.container .contact-form__input {
  padding: 1rem;
  margin: .5rem 0;
  background: #2b2b2b;
  border: none;
  font-size: 1.1rem;
  color: #959595;
  outline: none;
}

@media screen and (max-width: 800px) {
  .container .contact-form__input {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  .container .contact-form__input {
    width: 21rem;
  }
}

@media screen and (max-width: 400px) {
  .container .contact-form__input {
    width: 17rem;
  }
}

.container .contact-form__btn {
  width: 5rem;
  padding: .7rem;
  position: absolute;
  right: 0;
  bottom: 0;
  background: none;
  border: 2px solid #f71cde;
  color: #f71cde;
  outline: none;
  cursor: pointer;
}

.container .error {
  border: 2px solid #f71cde;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background: #1d1d1d;
  font-family: "Raleway";
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #181818;
  width: 60px;
  height: 100vh;
  z-index: 10;
}

@media screen and (max-width: 1024px) {
  .nav {
    flex-direction: row;
    width: 100%;
    height: 80px;
  }
}

.nav__logo {
  cursor: pointer;
  margin: 0 auto;
}

.nav__logo img {
  margin-top: 2rem;
  width: 2.5rem;
  height: 2.5rem;
}

@media screen and (max-width: 1024px) {
  .nav__logo img {
    margin: 0;
  }
}

.nav__logo h5 {
  color: #959595;
  width: 2.5rem;
  text-align: center;
  text-transform: capitalize;
}

@media screen and (max-width: 1024px) {
  .nav__logo {
    margin: 0.2rem 0.2rem;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .nav__menu {
    width: 75%;
  }
}

.nav__menu .list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 30rem;
  padding: 2.5rem 0;
}

@media screen and (max-width: 1024px) {
  .nav__menu .list {
    flex-direction: row;
    padding: 2.5rem 2.5rem;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .nav__menu .list {
    position: absolute;
    left: 0;
    height: 0;
    background-color: #1d1d1d;
    display: none;
    z-index: 10;
  }
}

.nav__menu .list a {
  color: #f71cde;
  font-size: 0.9rem;
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__menu .list img {
  width: 1.7rem;
  height: 1.7rem;
}

@media screen and (max-width: 600px) {
  .nav .toggle-hamb {
    display: flex;
  }
}

.nav__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 1024px) {
  .nav__social {
    flex-direction: row;
    display: flex;
    align-items: center;
    width: 10%;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .nav__social {
    display: none;
  }
}

.nav__social img {
  width: 1rem;
  height: 1rem;
  margin-top: 1rem;
}

@media screen and (max-width: 1024px) {
  .nav__social img {
    margin: 0;
  }
}

.nav__hamb {
  width: 0;
}

@media screen and (max-width: 600px) {
  .nav__hamb {
    width: 3rem;
    padding-right: 1rem;
    cursor: pointer;
  }
}
/*# sourceMappingURL=style.css.map */