.project-wrapper {
  @include flex(space-evenly, center, column);
  width: 80%;
  height: 100vh;

  .project {
    @include flex(space-between, center, row);
    border: 1px solid $iconColor;
    box-shadow: 0 0 5px $iconColor;

    &__description {
      flex: 0 0 49%;

      &--title {
        font-size: 3rem;
        text-transform: capitalize;
        padding-top: 40px;
      }
      P {
        font-size: 1.5rem;
        padding: 20px 0;
      }
      &--tools {
        @include flex(flex-start, center, row);

        li {
          margin: 20px 20px 20px 0;
          padding: 10px 20px;
          background-color: none;
          color: $iconColor;
          border: 1px solid $iconColor;
          border-radius: 40px;
          font-size: 1.2rem;
        }
      }
      &--btn {
        margin-bottom: 20px;
        padding: 20px 0;

        button {
          background-color: $iconColor;
          border: none;
          padding: 10px 20px;
          color: $txtColor;
          font-size: 1.2rem;
          margin-right: 15px;
        }

        button:first-of-type {
          background-color: $txtColor;
          color: $iconColor;
        }
      }
    }
  }
}
