.project-wrapper {
  @include flex(space-evenly, center, column);
  width: 80%;
  height: 100%;

  h1 {
    font-size: $titleDesk;
    margin: 100px 0;
  }

  .project {
    @include flex(space-between, flex-start, row);
    border: 1px solid $txtColor;
    box-shadow: 0 0 5px 5px $txtColor;
    background-color: #181818;
    margin-bottom: 200px;

    &__image {
      height: 470px;
      width: 100%;
      @include flex(center, center, row);
      background-color: $background;
      padding: 40px;

      img {
        cursor: pointer;
        width: 80%;
        height: 80%;
        border-radius: 20px;
      }

      .resize {
        scale: 1.3;
        transition: ease 1.4s;
      }
    }

    &__description {
      padding: 0 30px;
      flex: 0 0 55%;
      &--title {
        font-size: 3rem;
        text-transform: capitalize;
        padding-top: 40px;
      }
      P {
        font-size: 1.5rem;
        padding: 20px 0;
      }
      &--tools {
        @include flex(flex-start, center, row);

        li {
          margin: 20px 20px 20px 0;
          padding: 10px 20px;
          background-color: none;
          color: $iconColor;
          border: 2px solid $iconColor;
          border-radius: 40px;
          font-size: 1.2rem;
          letter-spacing: 1.5px;
        }
      }
      &--btn {
        margin-bottom: 20px;
        padding: 20px 0;

        a {
          cursor: pointer;
          border: 2px solid $iconColor;
          padding: 15px 20px;
          color: $txtColor;
          font-size: 1.4rem;
          letter-spacing: 1px;
          font-weight: bold;
          margin-right: 15px;
          &:hover {
            background-color: transparent;
            transition: ease-out 0.5s;
            box-shadow: 0 0 5px 5px $iconColor;
          }
        }

        a:first-of-type {
          color: $iconColor;
          border: 2px solid $txtColor;
          &:hover {
            background-color: transparent;
            box-shadow: 0 0 5px 5px $txtColor;
          }
        }
      }
    }
  }
}
