.project-wrapper {
  @include flex(space-evenly, center, column);
  width: 85%;
  height: 100%;
  @include mMobile {
    width: 90%;
  }

  h1 {
    font-size: $titleDesk;
    margin: 100px 0;

    @include tablet {
      font-size: $titleTab;
    }
    @include mMobile {
      font-size: $titleMob;
    }
  }

  .project {
    @include flex(space-between, flex-start, row);
    border: 1px solid $txtColor;
    box-shadow: 0 0 5px 5px $txtColor;
    background-color: #181818;
    margin-bottom: 200px;
    height: 500px;
    @include xlDesk {
      height: 450px;
      padding: inherit 20px;
    }
    @include mDesk {
      height: 420px;
    }
    @include sDesk {
      height: 350px;
    }
    @include tablet {
      @include flex(space-between, flex-start, column);
      height: 680px;
      width: 70%;
    }
    @include sTablet {
      width: 80%;
    }
    @include mMobile {
      width: 95%;
    }

    &__image {
      height: 100%;
      width: 100%;
      @include flex(center, center, row);
      background-color: $background;
      padding: 40px;
      @include tablet {
        height: 30%;
        padding: 15px;
      }

      img {
        cursor: pointer;
        width: 80%;
        height: 80%;
        border-radius: 20px;
        @include mDesk {
          width: 90%;
          height: 70%;
        }
        @include tablet {
          height: 90%;
          width: 70%;
        }
      }

      .resize {
        scale: 1.3;
        transition: ease 1.4s;
        @include tablet {
          scale: 1.1;
        }
      }
    }

    &__description {
      @include flex(space-between, flex-start, column);
      padding: 0 30px;
      flex: 0 0 60%;
      height: 100%;
      @include tablet {
        padding: 0 45px;
      }
      @include sTablet {
        padding: 0 25px;
      }
      @include sMobile {
        height: 120%;
        @include flex(flex-start, flex-start, column);
        padding: 0 10px;
      }

      &--title {
        font-size: 3rem;
        text-transform: capitalize;
        padding-top: 40px;
        @include xlDesk {
          padding-top: 25px;
        }
        @include mDesk {
          font-size: 2.5rem;
        }
        @include sDesk {
          font-size: 2.2rem;
        }
        @include tablet {
          padding-top: 15px;
        }
        @include sTablet {
          font-size: 2rem;
        }
        @include mMobile {
          font-size: 1.8rem;
        }
      }
      P {
        font-size: 1.5rem;
        padding: 30px 0;
        letter-spacing: 1px;
        height: 55%;
        @include xlDesk {
          padding: 15px 0;
        }
        @include mDesk {
          font-size: 1.3rem;
        }
        @include sDesk {
          font-size: 1.15rem;
          padding: 10px 0;
        }
        @include tablet {
          padding-bottom: 25px;
        }
        @include mMobile {
          padding: 25px 0;
          line-height: 1.8;
        }
      }
      &--tools {
        @include flex(flex-start, center, row);

        li {
          margin: 20px 20px 20px 0;
          padding: 10px 20px;
          background-color: none;
          color: $iconColor;
          border: 2px solid $iconColor;
          border-radius: 40px;
          font-size: 1.2rem;
          letter-spacing: 1.5px;
          @include xlDesk {
            padding: 8px 20px;
          }
          @include mDesk {
            margin: 15px 15px 15px 0;
          }
          @include sDesk {
            margin: 10px 10px 10px 0;
            padding: 5px 15px;
            font-size: 1rem;
            border: 2px solid $iconColor;
          }
          @include sTablet {
            padding: 5px 10px;
          }
          @include mMobile {
            margin: 10px 0;
          }
        }
      }
      &--btn {
        margin-bottom: 20px;
        padding: 20px 0;

        a {
          cursor: pointer;
          border: 2px solid $iconColor;
          padding: 15px 20px;
          color: $txtColor;
          font-size: 1.2rem;
          letter-spacing: 1px;
          font-weight: bold;
          margin-right: 15px;
          &:hover {
            background-color: transparent;
            transition: ease-out 0.5s;
            box-shadow: 0 0 5px 5px $iconColor;
            @include sDesk {
              box-shadow: 0 0 3px 3px $iconColor;
            }
          }
          @include mDesk {
            padding: 10px 20px;
          }
          @include sDesk {
            padding: 10px 15px;
            font-size: 1rem;
            border: 2px solid $iconColor;
          }
        }

        a:first-of-type {
          color: $iconColor;
          border: 2px solid $txtColor;
          &:hover {
            background-color: transparent;
            box-shadow: 0 0 5px 5px $txtColor;
            @include sDesk {
              box-shadow: 0 0 3px 3px $txtColor;
            }
          }
        }
      }
    }
  }
}
